.App {
}

.custom-select__indicators {
  display: none !important;
}

.custom-select__control {
  border-radius: 15px !important;
  text-align: center;
}

.custom-select__menu {
  color: black !important;
}

img {
  width: 80px;
  height: 80px;
}
